<div class="card" style="margin-left:350px;width:50%;" >
  <div class="card-body">
    <h5 class="card-title">You have successfully logged in!!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#login" class="btn btn-primary ">Go Back</a>
    <a href="#home" class="btn btn-primary float-right">Go Home</a>
    
  </div>
</div>

<!-- <div class="row" style="margin-left:200px;width:70%;">

<div class="col-2">
<div class="row row-striped">
		<div class="col">
			Inbox
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Sent
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Spam
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Trash
		</div>
	
	</div>
</div>

<div class="col-10">
	<div class="row row-striped">
		<div class="col">
			Mail 1
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 2
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 3
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 4
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 5
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 6
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 7
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 8
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 9
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 10
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 11
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 12
		</div>
	
	</div>
	<div class="row row-striped">
		<div class="col">
			Mail 13
		</div>
	
	</div>

 -->
</div>

</div>