<div style="margin-left: 250px;border: solid black;width:70%">
	<div style="margin: 50px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<h4 style="color:#d82a4e;margin:15px 0;">2018-19</h4>
							<ul>
								<li class="list" onclick="changeEventsContent(1);">Winter semester</li>
								<li class="list" onclick="changeEventsContent(2);">Monsoon semester</li>
							</ul>
						</div>
						<div class="col-lg-12 col-md-12">
							<h4 style="color:#d82a4e;margin:15px 0;">2017-18</h4>
							<ul>
								<li class="list" onclick="changeEventsContent(3);">Winter semester</li>
								<li class="list" onclick="changeEventsContent(4);">Monsoon semester</li>
							</ul>
						</div>
					</div>
				</div>

				<div id="content" class="col-lg-9 col-md-9">




				</div>
			</div>

		</div>
	</div>
</div>
