<div style="margin-left: 250px;border: solid black;width:70%">
    <div style="margin: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h4 style="color:#d82a4e;margin:15px 0;">Admissions</h4>
                            <ul>
                                <li class="list" onclick="changeProgramsContent(1);">Ph.D</li>
                                <li class="list" onclick="changeProgramsContent(2);">Integrated M.Tech</li>
                                <li class="list" onclick="changeProgramsContent(3);">M.Tech CS</li>
                                <li class="list" onclick="changeProgramsContent(4);">M.Tech AI</li>
                                <li class="list" onclick="changeProgramsContent(5);">M.Tech IT</li>
                                <li class="list" onclick="changeProgramsContent(6);">MCA</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div id="content" class="col-lg-9 col-md-9">
                    <h2><span style='color: #d82a4e'>Programmes of Study</span></h2><br />
                    <p>
                        The school offers five different programmes of study leading to: Ph.D. in Computer
                        Science, five year Integrated M.Tech. in Computer Science, M.Tech. (Computer Science),
                        M.Tech. (Artificial Intelligence), M.Tech. (Information Technology) with specialization
                        in Banking Technology & Information Security, in collaboration with IDRBT and M.C.A. In
                        addition, the school also contributes and supports the M.Tech. (Computational
                        Techniques) of School of Physics, 5-year Integrated M.A. and M.Sc. courses .<br />
                        <ul style='color: #d82a4e'>
                            <li>
                                Marks to Grade conversion for 5 year Integrated M.Tech(CS).</li>
                            <li>Marks to Grade conversion for MCA & M.Tech (CS/AI/IT).</li>
                            <li>Marks to Grade conversion for Ph.D.</li>
                            <li>Format for MCA Project.</li>
                            <li>Format for M.Tech Dissertation.</li>
                            <li>Format for PhD Thesis, Plagiarism rule from December 01, 2016.</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>