<div style="margin-left: 250px;border: solid black;width:70%">
    <div style="margin: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h4 style="color:#d82a4e;margin:15px 0;">Admissions</h4>
                            <ul>
                                <li class="list" onclick="changeContent(1);">

                                    M.Tech, M.C.A & Int. 5 yr M.Tech & P.hD
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div id="content" class="col-lg-9 col-md-9">
                    <ul>
                        <li>
                            <a href="./views/UOH_SCIS_MCA_MTech_IMTech_CourseStructure_Syllabus_20042018(1).pdf">
                                Syllabus for M.Tech(AI/CS/IT), M.C.A & I.MTech (CS)</a></li>

                        </li>
                        <li>
                            <a href="./views/PhDCourseWork2017updted.pdf">Syllabus for Ph.D</a>

                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>