<div style="margin-left: 250px;border: solid black;width:70%">
	<div style="margin-left: 50px;">
		<h3 style="color:#d82a4e;margin:25px 0;">Contact Information</h3>
		<p style="color: black;">
			Dean<br />
			School of CIS<br />
			University of Hyderabad<br />
			P.O. Central University<br />
			Hyderabad - 500 046<br />
			<b>Email:</b> <span style="color:#d82a4e;">deanscis@uohyd.ernet.in</span><br />
			<b>Email:</b> <span style="color:#d82a4e;">deanscis@uohyd.ac.in</span><br />
			<b>Phone:</b> <span style="color:#d82a4e;">91-040-23134101</span><br />
			<b>Pbone:</b> <span style="color:#d82a4e;">91-040-23010780</span><br />
		</p>


	</div>

</div>

<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/circle-progress.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

</html>