<div style="margin-left: 250px;border: solid black;width:70%">
	<div style="margin-left: 50px;">
		<h3 style="color:#d82a4e;margin:25px 0;">Placement Officers</h3>
		<p style="color: black;">
			<b style="font-size: 16px;color:blue;">Dr. Rajeev Wankar</b><br />
			Chairman, Placement Guidance and Advisory Bureau<br />
			University of Hyderabad<br />
			<b>Email:</b> <span style="color:#d82a4e;"> rajeev.wankar@gmail.com</span><br />
			<b>Phone:</b> <span style="color:#d82a4e;">9440679869</span><br />
		</p>
		<p style="color: black;">
			<b style="font-size: 16px;color:blue;">Dr. Naveen Nekuri</b><br />
			Placement Coordinator<br />
			SCIS, University of Hyderabad<br />
			<b>Email:</b> <span style="color:#d82a4e;"> nncs@uohyd.ernet.in</span><br />
			<b>Phone:</b> <span style="color:#d82a4e;">9885280581, 040-66794124</span><br />
		</p>
		<p style="color: black;">
			<b style="font-size: 16px;color:blue;">Dr G. R. Gangadharan</b><br />
			Placement Coordinator<br />
			IDRBT, Hyderabad<br />
			<b>Email:</b> <span style="color:#d82a4e;"> grgangadharan@idrbt.ac.in</span><br />
			<b>Phone:</b> <span style="color:#d82a4e;">07799833300</span><br />
		</p>


	</div>

</div>
<!-- Hero section end -->

<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/circle-progress.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

</html>