<div style="margin-left: 250px;border: solid black;width:70%">
    <div style="margin: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h4 style="color:#d82a4e;margin:15px 0;">Admissions</h4>
                            <ul>
                                <li class="list" onclick="changeAdmissionsContent(1);">Ph.D</li>
                                <li class="list" onclick="changeAdmissionsContent(2);">Integrated M.Tech</li>
                                <li class="list" onclick="changeAdmissionsContent(3);">M.Tech</li>
                                <li class="list" onclick="changeAdmissionsContent(4);">MCA</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div id="content" class="col-lg-9 col-md-9">
                    <ul>
                        <li><span style="color: #d82a4e">Disclaimer:</span><br /> While every attempt is made
                            to keep this page up-to-date, please
                            refer to the latest University prospectus (available at http://acad.uohyd.ac.in)
                            for up-to-date-information. In case of any conflict, the information provided in
                            the prospectus shall be considered as authentic</li>
                        <li><span style="color: #d82a4e">Note:</span><br /> Foreign nationals are also advised
                            to read section on Admission of
                            Foreign Nationals in the University prospectus</li>

                    </ul><br />
                    <p style="color:black;">
                        <b>The following is the summary of the criteria for admission into the various
                            programmes:</b>
                        <br />
                        Ph.D. admission is through an entrance exam followed by an interview. Please refer to
                        appropriate section in the University prospectus about UGC Regulations 2016 also
                        The admission to 5-year Integrated M.Tech. in Computer Science will be done through
                        JEE(Main) examination conducted in 2018 and the counselling for admission will be done
                        by Joint Seat Allocation Authority (JOSAA)/Central Seat Allocation Board (CSAB).
                        Admission to M.Tech programmes in Computer Science, Artificial Intelligence and
                        Information Technology courses is through centralized counselling by CCMT (ccmt.nic.in)
                        and is based on valid GATE scores in Computer Science and Information Technology only.
                        MCA admissions are done based on the scores obtained in NIMCET (National Institute of
                        Technology Master of Computer Applications Common Entrance Test) 2018 only. NIMCET 2018
                        scores, in order of merit, will be the basis for admission which is done by the
                        counselling at the University of Hyderabad. Interested candidates need to apply to the
                        University of Hyderabad and separately need to provide their NIMCET 2018 scores (when
                        available) as per the information provided by Controller of Examination, University of
                        Hyderabad.
                        <br />
                        For further details on the admission to a specific programme and for Foreign
                        Candidates, please refer to the corresponding programme page. For schedule of entrance
                        examination and admission, please refer to latest University Prospectus


                    </p>







                </div>
            </div>

        </div>
    </div>
</div>